.landing-page-main {
  display: flex;
  flex-direction: column;
}

#title-card {
  background-image: url("./public/assets/background.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
